.Cards {
    max-width: 90%;
    height: 100%;
    margin: 40px auto 0 auto;
    align-items: center;
    display: flex;
    padding: 30px 10px, 10px, 10px;
    cursor: pointer;
}
.title {
  font-size: 14px;
}
.Cards_item {
  display: flex;
  align-items: baseline;
}
.Card {
  min-width: 250px;
}
.item_title {
  font-size: 1.6rem;
}
.Card:hover {
  transform: scale(1.1);
  transition: all 1s ease;
}

.item {
  font-size: 1.3rem;
  font-weight: 600;
  padding-left: 10px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
@media (max-width: 800px) { 
  .Cards {
    max-width: 90%;
    max-height: 120px;
    margin: 20px auto 0 auto;
    align-items: center;
    flex-wrap: nowrap;
    display: flex;
    padding: 10px;
    cursor: pointer;
}
.title {
display: none;
}
.item_title {
  font-size: .8rem;
}
  .Card {
    max-width: 50px;
    max-height: 100px;
  }
  .item {
    font-size: .6rem;
    font-weight: 600;
    padding-left: 10px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

}
@media (max-width: 450px) { 
  .Cards {
    max-width: 90%;
    max-height: 100px;
    margin: 20px auto 0 auto;
    align-items: center;
    flex-wrap: nowrap; 
    display: flex;
    padding: 5px;
    cursor: pointer;
}
.item_title {
  font-size: .8rem;
}
  .Card {
    width: 60px;
    height: auto;
  }
  .item {
    font-size: .6rem;
    font-weight: 600;
    padding-left: 10px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
}