.Card {
    max-width: 90%;
    height: 100%;
    margin: 50px auto;
    align-items: center;
    display: flex;
    padding: 10px;
    cursor: pointer;
}
.Card:hover {
  transform: scale(1.1);
  transition: all 1s ease;
}

.item {
  font-size: 1.3rem;
  font-weight: 600;
  padding-left: 10px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
