.Card {
    max-width: 90%;
    height: 100%;
    margin: 20px auto;
    align-items: center;
    display: flex;
    padding: 10px;
}
.lists {
    padding: 30px;
    background:rgba(131, 224, 37, 0.418);
    max-width: 300px;
    max-height: 250px;
    list-style-type: none;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 0 auto;
    border: 1px solid rgb(122, 196, 47);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5); 
}
.lists:last-child {
    padding-left: 0;
}

li {
    display: flex;
    align-items: center;
}
label {
    font-weight: 600;
    padding: 2px 12px;
}


